code {
  word-wrap: break-word;
  font-weight: normal;
}

h1, h2 {
  margin: 1rem 0 0.5rem;
}

h3 {
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #476C91;
  border-width: 1px;

  color: #476C91;
  background: white;

  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;

  max-width: 50.5rem;
  margin-top: 0px;
}

.row {
  background-color: white;
  border: 3px solid;
  border-width: 1px;
  border-color: #476C91;
  padding-border-top: 10px;
  max-width: 50.5rem;
}

.center {
  margin: auto;
  width: 470px;
}

.side {
  margin: auto;
  width: 250px;
  background: #476C91;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

h6 {
  margin-top: 0;
  line-height: 1;
}

li {
  list-style-position: inside;
  background: #476C91;
}

ul.links {
  background: #476C91;
  font-size: 0.85rem
}

body {
  background-color: #F5F5FF;
}

btn-panel {
  a {
    user-select: none;
    padding: .5em 1.8em;
    padding-top: 8px;
    padding-bottom: 9px;
    border-color: #F5F5FF;
    background: #476C91;
    color: white;
  }
  a:hover {
    background: #008cba;
    color: white;
  }
  a:active {
    background: #778899;
  }
}
