tittle {
  background-color: white;
}

btn {
  border: 2px solid;
  border-color:  #008cba;
  background-color: #008cba;
  padding: 10px;
  a {
    color: white;
  }
}

button {
  a {
    color: white;
  }
}
