ul.left
  - if user_signed_in?
    = active_link_to t('app.navigation.main.students'), students_path, active: :exclusive, wrap_tag: :li
    = active_link_to t('app.navigation.group.group'), group_path(group), active: :exclusive, wrap_tag: :li
